body {
	margin: 0;
	padding: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
#container {
	width: 50%;
	height: 40rem;
	margin: 0 auto;
	background-color: #eee;
}
header {
	width: 80%;
	height: 6rem;
	margin: 0 auto;
	background-color: #eee;
	padding-top: 2rem;
}
.box {
	width: 80%;
	height: 30rem;
	margin: 0 auto;
}
	.box div {
		width: 24%;
		height: 24%;
		margin: 0 5px 5px 0;
		border-radius:10%;
		background-color: #D92731;
		line-height: 6rem;
		float: left;
	}
button {
	background-color: #B0A597;
	border-radius: 10px;
	outline: none;
	border: none;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}
button:hover {
	background-color:#C4B9AA ;
}

#wrap>div.active {
	background-color: #D9264C;
	color: #333;
}
footer {
	width: 80%;
	height: 5rem;
	margin: 0 auto;
}